body {
    background-color: #8D6E63;
    display:flex;
    justify-content:center;
}
/*this is menu
********************************************************/
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.menu {
    background-color: #5D4037;
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    height: 10vh;
    margin-right: 0%;
    
}
.menu li {

    padding: 0 25px;
    margin-left: 0%;
}
.menu li a {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
}
/*this is menu
********************************************************/

* {
    margin: 0;
    padding: 0;
}

h1{
    position: absolute;
    color: #FEFEFE;
    top: 35px;
    left: 40px;
}

ul li {
    list-style: none;
}

ul{
    top: 110px;
    left: 250px;
}

ul,p.ig,.linkMusic1,.linkMusic2 a{
    position: absolute;
    color: #EEEEEF;
}

a {
    text-decoration: none;
}

p.ig{
    bottom: 50px;
    left: 50px;
}

.linkMusic1{
    bottom: 30px;
    left: 200px;
    width: 250px;
}
.Playlist-music{
    position: absolute;
    
    bottom: 20px;
    width: 150px;
    height: 150px;
    left: 30px;
}
.flex{
    position: absolute;
    display: flex;
    left: 250px;
    bottom: -10px;
}
.Enter-here a{
    color: #FEFEFE;
    width: 100px;
}
.linkMusic2 a{
    bottom: 10px;
    left: 220px;
    
    
}
.iconPlay{
    color: #fff;
}
.playVideo{
    position: absolute;
    left: 250px;
    top: 200px;
    display: flex;
    background: #5D4037;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.playVideo p{
    color: #FEFEFE;
    margin-left: 10px;
}
#playVideo{
    background: #fff;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

/*รูปและวิดิโอ
***************************************/
.Myimg{
    position: absolute;
    top: 73px;
    left: 40px;
}

.MyVideo{
    position: absolute;
    bottom: 30px;
    right: 35px;
}